@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(../images/back.png);
    
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}


.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    cursor: pointer;
    text-align: center;
    color: #fff!important;
    background: #00afdb!important;
    text-shadow: none;
}

.btn-blue{
    
    letter-spacing: .05em;
    display: inline-block;
    margin: 0 0 10px;
    border: 3px solid #00afdb!important;
    color: #00afdb!important;
    text-transform: uppercase;
    background: 0 0;
    transition: background 0.5s;
    padding: 0 0!important;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff!important;
    background-color: rgba(0,0,0,0.4);
    
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff!important;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333!important;
    background-color: rgb(255,255,255);
}


/* Navigation Menue */


#menu-toggle {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}



/* Horizontal Rule */

hr.small {
    max-width: 100px;
    height:0; 
    border:0; 
    border-top:1px solid #16CCFF;
}


/* Footer */

footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#000000;
    color: #6c6c6c;
}

a:link {
    color: #6c6c6c;
}

a:link, a:visited {
    color: #6c6c6c;
}

a:hover{
    text-decoration: none!important;
    color: #00afdb!important;
}

a:focus, a:hover{
    text-decoration: none!important;
    color:#00afdb!important;
}

.fa-twitter{
    color:#6c6c6c;
}

.fa-twitter:hover {
    color: #44ccff;
}

.fa-facebook{
    color:#6c6c6c;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram{
    color:#6c6c6c;
}

.fa-instagram:hover {
background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

hr.big{
    height:0; 
    border:0; 
    border-top:thick solid #00afdb;
}


.text-middle-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-middle-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 600;
}

.text-middle-center h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
}





.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/* card */
.card {
    background-color: #F7F7F7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Form styles */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #00afdb;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #00afdb;
}

.signup{
    text-align: center;
}

.sign-up{
    text-align: center;
}


